/*@font-face {
    font-family: Ghastly Panic;
    src: url(./Ghastly\ Panic.ttf);
}*/

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
div{
    height: 100%;
    width: 100%;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/25021.jpg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1{
    text-align: center;
    color: aqua;
}
p{
    text-align: right;
    color: white;
}