*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
nav{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    background-color: rgb(220, 173, 230);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part2{
    display: flex;
    gap: 35px;
}
h5{
    font-size: 25px;
    display: none;
}
@media (max-width: 550px) {
    h5{
        display: block;
    }

    h4{
        display: none;
    }
    nav{
        background-color: aquamarine;
    }
}